html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,br,hr,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,input,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}

h1,h2,h3,h4 {color:#333;text-decoration:none;text-transform: capitalize;}
a {color:#333;text-decoration:none;}
a:hover,h1:hover,h2:hover,h3:hover,.logo a {color:#ff4f00;}
a,a:hover,i:hover,#nv a:hover,h1:hover,h2:hover,h3:hover  {transition: all .300ms ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out;}
em,strong,i {font-style: normal;}
i {display: inline;font-style: normal;}
.cl:after {clear: both;content: " ";display: block;visibility: hidden;}
body {background: #ccc;}
body, button, input, select, textarea {
	font: 400 16px/1.5 "Roboto",sans-serif;
	color:#333;
	text-decoration: none;
}
h1,h2,h3,h4 {font:400 22px/1.3 "Roboto Condensed",sans-serif;}
.ph3 {font:400 15px/1.3 "Roboto Condensed",sans-serif;}
.la {font: 400 16px/1.2 "Roboto Condensed",sans-serif;}
.tc {text-align:center;}
img,.lh0 {line-height:0;}
.m0 {margin:0 auto;}
.l,ul#nv li,#l, #l a {float:left;}
.r {float:right;}
.oh {overflow:hidden;}
.pa {position:absolute;}
.pr {position:relative;}
.bw {background:white;}
.p18 {padding:18px;}
.p36 {padding:36px;}
.mb0 {margin-bottom:0px;}
li {margin-left:18px;}
.ad {padding:6px 0;}
.mb18,p,h1,h2,h3,h4,.b,blockquote {margin-bottom:18px;}
.mr6,i {margin-right:6px;}
.bs {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);}
.w {width:100%;}
.
.h9 {height:90px;}
.w1 {width:918px;}
.w2 {width:936px;}
.w3 {width:300px;}
.w4 {width:600px;}
#header {
	background: #333;
	border-bottom:3px solid #c0392b;
	box-shadow: 0 1px 1px 0 #444;
	height: 45px;
}
#l, #l a {
	height: 45px;
	width: 300px;
	z-index: 999;
}
#l {
	background: rgba(0, 0, 0, 0) url("i/i.png") no-repeat scroll 0 0;
	text-indent: -9000px;
}
#l a {
	background: rgba(0, 0, 0, 0) url("i/i.png") no-repeat scroll -300px 0;
	opacity: 0.001;
}
#l a:hover {
	opacity: 1;
}
.bc {
  font: 300 11px/1.5 "Roboto",sans-serif;color:#888;
}
.thumb {
	width:216px;
	height:300px;
	margin-right:18px;
}
.post {
	width:216px;
	height:216px;
	margin-right:18px;
}
.thumb img,.post img {
	background:#fff;
	margin:13px 13px 0;
	border:1px solid #ccc;
}
.thumb h2,.thumb h3 {
	padding:3px 18px;
	font:400 16px/1.3 "Roboto Condensed",sans-serif;
}
.ll a {
	background: #fff;
	border:1px dotted #eee;
	color: #555;
	display: inline;
	float: right;
	font: 400 8px/1 "Roboto",sans-serif;
	margin-right: 1px;
	padding: 3px;
}
.ll {
	bottom: 18px;
	right: 18px;
	z-index: 3;
}
#f {
	background: #fff;
	font: 400 11px/1.3 "Roboto Condensed",sans-serif;
}
.logo {
	background: rgba(0, 0, 0, 0) url("i/i.png") no-repeat scroll 0 0;
	display: block;
	height: 45px;
	width: 300px;
}
.ai {
	padding:36px;
}
.ai img {
	border:1px dotted #bbb;
}
.info label {
	clear: both;
	color: #666;
	float: left;
	text-shadow: 0 1px 0 #fff;
	width: 100px;
}
.info b {
	float: left;
	margin-right: 9px;
	text-shadow: 0 1px 0 #fff;
}
.info strong {
	float: left;
	margin-bottom: 9px;
	text-shadow: 0 1px 0 #fff;
	width: 300px;
}
.info p, .info em {
	float: left;
	font-weight: 400;
	margin-bottom: 9px;
	width: 300px;
}
.imn {
	right: 65px;
}
.imp {
	left: 65px;
}
.imp i, .imn i {
	color: #555;
	font-size: 25px;
	line-height: 1;
	text-shadow: 0 1px 1px #000;
}
.imp, .imn {
	bottom: 40px;
	padding: 0 0 0 18px;
	width: 60px;
	z-index: 2;
}
.imp i:hover, .imn i:hover {
	color: #ff6600;
}
.ai:hover .imp {
	left: 40px;
}
.ai:hover .imn {
	right: 40px;
}
.ar ul,.ar li a{
	color: #555;
}
/*--*/
.wp-pagenavi,.navi {
	line-height: 36px;
}
.wp-pagenavi a, .wp-pagenavi a:link,.navi a,.navi a:link {
	border: 1px solid #bcbcbc;
	color: #ff6600;
	margin: 2px;
	padding: 6px 8px;
	font: 400 15px/1.2 "Roboto",sans-serif;
}
.wp-pagenavi span.pages {
	padding: 0 15px 0 0;
	font: 400 15px/1.2 "Roboto",sans-serif;
}
.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover {
	border: 1px solid #ff6600;
	color: #ff6600;
	margin: 2px;
	padding: 6px 8px;
	font: 400 15px/1.2 "Roboto",sans-serif;
}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active {
	border-radius: 8px;
}
.wp-pagenavi a:hover {
	color: #000;
}
@@media screen and (min-width: 320px) {
	.w1,.w2,.w3,.w4,.ai {width:300px;overflow:hidden;}
	.ai img {width:226px;height:auto;}
}	
@@media only screen and (min-width:768px){
	.w1,.w2 {width:702px;overflow:hidden;}
	.ai img {width:526px;height:auto;}
	.w4 {width:600px;}
	.ai {width:526px;}
}	
@@media only screen and (min-width:1024px){
	.w1 {width:918px;}
	.w2 {width:936px;}
}	
@@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}