body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

body
{
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
line-height: 25px;
font-size:13px;
}
p{
line-height: 18px !important;
font-size:13px !important;
}
h1, h2, h3, h4, h5, h6
{
font-size: 100%;
}
p {
margin: 0 0 1em;
}
ul, ol
{
list-style: none;
}

a
{
color: #0085d1;
text-decoration: none;
-webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
}

a:hover
{
color: #C62B07;
}

.clear{
clear: both;
}
ul, li {
list-style:none;
padding:0px;
margin:0px;
}
.clear{
clear:both;
}
button, input, textarea {
border: 1px solid #ccc;
border-radius: 3px;
font-family: inherit;
padding: 6px;
padding: 0.428571429rem;
}

.fa{
margin:0px 5px 0px 0px;
}
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-search:before {
  content: "\f002";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}

.main-menu>li.icon-star:before {
  content: "\f005";
}

.fa-search{
position: absolute;
top: 9px;
left: 7px;
color: #999;
font-size: 18px;
line-height: 22px;
width: 22px;
height: 22px;
-webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
}
.imenu:before{
position: relative;
float: left;
margin: 17px 0px 0px 10px;
padding: 3px 0px 0px 3px;
height: 22px;
width: 22px;
font-size: 14px;
font-family: "FontAwesome";
}
.circle:before{
border: 1px solid #fbfbfb;
border-radius: 10px;
}
.main-wrapper{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: -9999;
background:#111
}

.container{
max-width:1280px !important;
margin:0 auto;
}
#header {
width: 100%;
float: left;
font-family: Helvetica, Arial, sans-serif;
font-size: 15px;
position: relative;
padding: 2px 0px 0px 0px;
display: block;
z-index: 99999;
background: #111;
border-bottom: 3px solid #E71A39;
}
#header h1, #header h2{
font-size:16px;
font-weight: 400;
margin-bottom: 0px;
margin-top: 0px;
margin-right: 10px;
float: left;
}

.logo{
float: left;
padding: 7px;
}
.logo h1 a, .logo h2 a{
font-size:20px;
color:#2980b9;
font-weight: bold;
}
.site-logo img{
float:left;
}
.site-description{
font-size: 11px;
line-height: 12px;
padding: 8px;
}
.right-header{
width:720px;
float:right;
text-align:right;
}
.top-menu{
margin:0px;
}
.top-menu li {
display: inline-block;
font-size: 11px;
}
.top-menu li a{
padding:3px 10px;
}
/* Category menu*/
nav{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-weight: normal;
font-style: normal;
}
#navigation .columns, #navigation.columns{
padding-left:0px !important
}
.nav-menu{
margin: 0px;
padding: 0px;
display: inline-block;
float: right;
text-align: right;
}
.search-wall{
margin: 10px 0px;
}
#searchform {
position: relative;
margin:0px;
}
#searchsubmit{
position:absolute;
top:0px;
right:0px;
opacity:0;
z-index:1;
}
#s{
margin:0px;
border-radius: 5px;
padding-left: 30px;
}
#searchform:hover .fa-search{
left:265px;
z-index:0
}
.page-title{
font-size: 24px;
line-height: 30px;
padding: 10px 0px;
}
.follow-list{
width: 80px;
float: right;
display: inline-table;
}
.follow-list i{
margin-right:10px;
}
.follow-list h3{
line-height: 55px;
text-align: center;
font-size: 12px;
margin-bottom: 0px;
margin-top: 0px;
}
.follow-list h3 a{
color:#2980b9;
}
.follow-list ul li{
border-bottom:1px solid #eee;
font-size:12px;
line-height:16px;
width:100%;
float:left;
}
.follow-list ul{
margin-left: 0px;
z-index: 999999;
position: absolute;
height:0px;
width: 150px;
background: #fbfbfb;
overflow:hidden;
-webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.28);
}

.follow-list a{
line-height:20px;
color:#313131;
padding:10px;
text-transform: none;
text-shadow:none;
font-weight: bold;
}
.follow-list:hover ul{
height:164px;
margin:0px;
}
a.facebook {
color: #314d91;
}
a.facebook:hover {
background:#314d91;
color: #fbfbfb;
}
a.rss {
color: #ffaa31
}
a.rss:hover {
background:#ffaa31;
color: #fbfbfb
}
a.twitter {
color: #07beed;
}
a.twitter:hover {
background:#07beed;
color: #fbfbfb;
}
a.gplus {
color: #313131;
}
a.gplus:hover {
background:#313131;
color: #fbfbfb;
}
.main-menu{
float:left;
font-size: 14px;
margin-bottom: 0px;
margin-left: 0px;
}
.main-menu>li{
position:relative;
color:#333;
}
.main-menu>li:hover{
color: #fbfbfb;
}
.main-menu>li:hover>a{
background:#2980b9;
color: #fbfbfb;
}
.main-menu>li>a{
padding: 5px 15px;
font-weight: bold;
color: #ccc;
}
.main-menu>li>ul{
margin-left: 0px;
z-index: 999999;
position: absolute;
height: 0px;
width: 150px;
background: #fbfbfb;
overflow: hidden;
-webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.28);
}
.main-menu>li:hover ul{
height: auto;
top: 55px;
margin: 0px;
}
.main-menu>li>ul li{
background:none;
width:100%;
border-bottom: 1px solid #eee;
}
.main-menu>li>ul li a{
line-height:40px;
font-size:12px;
text-transform:none;
color:#333;
text-shadow:none;
}
.main-menu>li>ul li a:hover{
box-shadow: inset 0px -1px 0px rgba(0,0,0, .1);
color:#fbfbfb;
}
.footer-menu>li{
position:relative;
}
.footer-menu>li>ul{
display:none;
position:absolute;
bottom: 20px;
left: 0px;
z-index: 999;
background: #41aafa;
width: 200px;
}
.footer-menu>li:hover ul{
display:block;
}
.footer-menu>li>ul li{
background:none;
width:100%;
}
nav li{
float:left;
display:inline;
text-align: left;
}
.follow-list h3:hover{
background:#2980b9;
}
.follow-list h3:hover>a{
color:#fbfbfb;
}
nav li a{
padding: 0px 15px;
line-height: 45px;
display: block;
color: #fff;
font-family: "Open sans", arial, helvetica;
}
.breadcrumbs {
font-family:georgia;
font-size: 14px;
width:100%;
padding:10px 0px 10px 0px;
}
.breadcrumbs a{
color:#00BDF6;
}

/*content*/
#primary{
float: left;
overflow: hidden;
}
#main{
overflow: hidden;
margin: 10px 0px;
padding-left: 0px;
padding-right: 0px;
}
.attachment #main{
background:#000;
}
#content{
float: right;
padding-top: 10px;
width:100%;
}
#main .single{
float: left;
padding: 0px 0px 0px 0px;
overflow: hidden;
background: #000;
}
/* .holder .post .entry-title{
height: 20px;
overflow: hidden;
text-align:center !important;
padding-top: 0px !important;
} */
h1.entry-title a{
color:#ccc
}
.left-sidebar #main .single{
float: right;
padding: 0px 0px 0px 0px;
}
.single-content{
float: left;
padding: 10px;
line-height: 18px;
}
.single-content p{
font-size:13px;
}
.ads-samping-gbr{
float:right;
max-width:49%;
}
.single img{
max-width:100%;
height:auto;
}
.ads-samping-gbr {
width:49%;
height:300px;
border: 1px solid #ddd !important;
padding:10px;
}
.ads-samping-gbr img{
max-width:100%;
height:auto;
}
h1.single-title{
width: 100%;
float: left;
text-align: justify;
font-size: 26px;
line-height: 32px;
padding: 0px 10px;
font-weight: bold;
font-family: helvetica, arial, sans-serif;
text-transform: capitalize;
}
h1.single-title a{
color:#ddd
}
.holder .post{
width: 24.3%;
height: 223px;
float: left;
margin-bottom: 10px;
margin-right:10px;
text-align: center;
padding-bottom: 1px;
box-shadow: 0px 1px 4px #000;
background: #000;
padding: 3px;
color: #333;
overflow: hidden;
position: relative;
z-index: 0;
}
.holder .post img{
-webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
}
.holder .post img:hover {
opacity: .7;
transform: scale(1.1, 1.1);
}
.holder-block{
float: left;
margin-bottom: 20px;
width: 100%;
}
.attachment .holder-block{
text-align: center;
}
.prev-next{
float:left;
width:100%;
margin: 20px 0;
}
.prev-next .full a{
padding:10px;
background:#AA2727
}
.prev-next .prev{
float:left;
margin-left: 20px;
}
.prev-next .next{
float:right;
margin-right: 20px;
}
.attachment .gallery-wrap{
padding: 0px 20px;
}
.attachment .gallery-item img{
width:100%;
padding: 3px;
height: auto;
}
.holder-block .post{
width: 23.9%;
float: left;
margin-right: 10px;
margin-bottom: 10px;
border: 1px solid #CCCCCC;
text-align: center;
padding-bottom: 1px;
box-shadow: 0 1px 5px #ddd;
padding: 3px;
height: 150px;
}
.attachment .holder-block .post{
height:210px;
width:24.1% !important;
display: inline-block;
float: none;
}
@media (min-width:985px) {
.holder .post:nth-child(4n+0), .attachment .columns4 .post:nth-child(4n+0), .holder-block .post:nth-child(4n+0){
margin-right: 0px !important
}
}
.large-3.medium-3.small-4 .post{
height:160px !important;
} 
.large-3.medium-3.small-4 .entry-content{
height:100px;
}
.attachment .columns4 .post{
height:180px !important;
width: 219px !important;
}
.wp-caption {
max-width: 698px !important;
border: 1px solid #CCC;
padding: 10px;
box-shadow: 0 2px 5px #DDD;
height: auto;
background: #ffffff;
}
#content h2, #content h1{
float: center;
padding-left: 5px;
text-align: left;
padding-top: 5px;
font-weight: 400;
margin: 0px 0px 0px 0px;
font-size: 13px;
text-transform: capitalize;
height: 41px;
}
#content h2 a, #content h1 a{
text-decoration: none;
}
#content .entry-meta, .most-viewed .entry-meta, .related .entry-meta{
font-size: 10px;
}
#content .entry-meta ul{
margin-left:0px;
line-height:14px;
font-size:10px;
}
.columns4 .entry-meta{
line-height: 12px;
text-align: center;
}
.columns4 .entry-meta{
margin-top:7px;
}
.entry-meta ul{
margin:0px !important;
font-size: 10px !important;
line-height:14px !important;
}
.entry-meta ul li{
display:inline;
padding: 3px;
color: #6b6b6b;
opacity: 0.6;
font-weight: bold;
float: left;
}
.entry-content{
width: 100%;
height: 160px;
position: relative;
overflow:hidden;
z-index: 0;
}
span.most-loved {
position: absolute;
width: 43px;
height: 42px;
background: red;
border: 2px solid #eee;
color: #fff;
padding: 7px 5px;
border-radius: 22px;
line-height: 11px;
font-size: 11px;
top: 120px;
left: -9px;
z-index: 2;
}
.holder-block .entry-content{
height:95px;
}
.attachment .holder-block .entry-content{
height:160px;
}

.post-meta{
float: left;
margin: -10px 0px 10px 0px;
color: #000;
font-size: 13px;
font-style: italic;
font-family: georgia,serif !important;
}
.post-meta a{
color:#00BDF6;
}
.entry{
float: left;
width: 100%;
border-bottom: 1px solid #E0E0E0;
padding: 0 0 10px;
margin: 0 0 15px;
font-family: inherit;
font-size: 14px;
letter-spacing: 0px;
color: #444;
}
.gallery-wrapper{
float: left;
width: 100%;
}
.gallery-wrapper h3{
font-size: 18px;
color: inherit;
margin: 20px 0px;
font-weight: 600;
}
.related{
float: left;
margin: 0px 0px 20px 0px;
padding: 10px;
}
.related .holder{
text-align:center;
}
.related .post:last-child{
margin-right:0px
}
h2.entry-title{
height: 25px;
overflow: hidden;
text-align: center !important;
font-size: 12px;
}
.attachment h2.entry-title{
margin: 0px;
line-height: 27px;
}
.related .entry-title{
margin-bottom: 0px;
height: auto;
}
.related .entry-header a{
font-weight:400;
}
.most-viewed{
float:left;
width: 100%;
}
.inner-attachment{
float: left;
padding: 10px;
text-align: center;
width: 100%;
margin: 10px 0px;
}
#content .columns4 .post{
width: 164px !important;
height: 135px !important;
float: left;
margin-left: 0px;
margin-right: 10px;
margin-bottom: 13px;
border: 1px solid #CCCCCC;
text-align: left;
padding-bottom: 1px;
box-shadow: 0 1px 5px #ddd;
background: rgb(250, 250, 250);
padding: 3px;
color: #555;
overflow: hidden;
}
#content .columns4 .post .entry-header{
margin-top:5px;
}
#content .columns4 .entry-title{
height: 20px;
overflow: hidden;
float: center;
padding-left: 10px;
text-align: left;
padding-top: 5px;
font-weight: 400;
line-height: 16px;
margin: 0;
}
.home .columns4{
margin: 0px 0px 20px 0px;
}
.width-full{
width:98.5%;
display: inline-block;
}
.width-full.bottom{
margin: 20px 0px 0px 0px;
}
h3.header-title{
color: #fbfbfb;
font-size: 14px;
padding: 10px;
line-height: 12px;
background: #f7f7f7;
color: #ccc;
float: left;
width: 100%;
display: block;
margin-bottom:10px;
}
.related h3.header-title{
display:block;
}
.home h3.header-title{
text-transform: uppercase;
font-weight:400;
}

.view-more a{
color:#00A8FF;
}
#sidebar{
float: right;
height: 100%;
min-height: 100%;
padding: 20px 10px;
background: #000;
margin-left: 10px;
width: 24%;
}
.left-sidebar #sidebar{
margin-left:0px;
margin-right:10px;
float:left;
}
#sidebar h3{
padding:10px;
margin-bottom: 10px;
background: #1a99aa;
font-weight: bold;
color: #fff;
font-size: 14px;
white-space: nowrap;
}
.sidebar-widget ul{
margin-left:0px;
font-family: helvetica, arial, sans-serif;
}
.image-info{
border-radius: 4px;
}
.image-info img{
margin-bottom:10px;
margin-top: -10px;
}
.image-info li:before{
background:none !important;
}
#sidebar .image-info h3{
background: #dd3333;
padding: 10px;
color: #fff;
font-size: 13px;
line-height: 1.5em;
position: relative;
text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
box-shadow: none;
}
.image-info h3:after{
content: "";
display: block;
position: absolute;
bottom: -7px;
left: 8px;
width: 0;
height: 0;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-top: 8px solid #dd3333;
}
.image-info li span{
float:right;
}
.image-info li span.filename{
width: 100%;
overflow: hidden;
}
.image-info ul li:hover{
overflow:visible;
}
#sidebar .sidebar-widget{
margin:0px 0px 20px 0px;
float: left;
width: 100%;
}
#sidebar ul li{
position:relative;
color: #ddd;
font-size: 12px;
line-height: 25px;
display: block;
min-height: 25px;
padding: 0 10px 0px 15px;
}
.image-info li {
float: left;
width: 100%;
border-bottom: 1px dashed #333;
}
#sidebar ul li:before{
position: absolute;
top: 10px;
left: 5px;
vertical-align: middle;
display: inline-block;
width: 5px;
height: 5px;
background: #00A8FF;
content: "";
margin-right: 10px;
}
#sidebar ul li:after{
position: absolute;
top: -8px;
left: 5px;
margin: 8px 10px 0 0px;
vertical-align: middle;
display: inline-block;
margin-right: 10px;
color: #fff;
font-size: 18px;
}
#sidebar>li {
background: #fff;
margin: 5px 0px 0px 0px;
}
#sidebar #searchsubmit {
width: 28%;
padding: 10px 0px 9px 0px;
margin: 1px 0px 0px 1px;
background: #2980b9;
font-weight: 600;
font-size: 11px;
line-height: 16px;
color: #fbfbfb;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border: none;
}
#sidebar #s{
width: 70%;
padding: 5px 0px 5px 5px;
height: 35px;
margin-top: 1px;
border-color: #2980b9;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
float: left;
}

#sidebar .screen-reader-text{
display:none;
}
.bflexslider{
margin:0px 0px 0px -20px;
}
.side-thumbnail{
width:82px;
height:82px;
float:left;
overflow:hidden;
}
#slider .list_items li {
width:300px;
float:left;
}
#slider li h3{
float:left;
width:200px;
margin: 0px 0px 0px 0px;
padding: 0px 10px 0px 7px;
}
.list_items ul{
margin:0px 0px 0px -30px;
}
.sidebar-direction-nav{
position:absolute;
top: -10px;
background: #fff;
width: 100%;
}
.sidebar-direction-nav li{
float:left;
font-weight: bold;
font-family: arial;
}
.sidebar-direction-nav li a{
padding: 0px 20px 0px 20px;
} 
.pagination{
width: 100%;
float: left;
text-align: center;
margin: 20px 0px;
}
.pagination span{
background: #41aafa;
    color: #FFFFFF;
    width: auto;
    height: auto;
    margin: 10px 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: inset 0px -2px 0px rgba(0,0,0, .2);
    display: inline-block;
}
.pagination span.current{display:inline;}
.pagination .inactive{
color: #313131;
text-decoration: none;
height: auto;
width: auto;
margin: 1px;
padding-top: 4px;
padding-right: 8px;
padding-bottom: 4px;
padding-left: 8px;
display: inline;
border: 1px solid #ccc;
box-shadow: inset 0px -2px 0px rgba(0,0,0, .2);
border-radius: 3px;
}
.pagination .inactive:hover{
background:#eee;
}
/*#sidebar li a{
list-style: none;
font-size: 15px;
text-decoration: none;
color: black;
}*/
#sidebar>ul>li a, .breadcrumbs{
color: #525252;
border: 1px solid #e2e2e2;
display: block;
font-size: 12px;
line-height: 16px;
margin-bottom: 8px;
padding: 5px;
text-decoration: none;
text-shadow: 0px 1px 0px #fff;
-moz-box-shadow: inset 0px 1px 0px #fbfbfb;
-webkit-box-shadow: inset 0px 1px 0px #fbfbfb;
box-shadow: inset 0px 1px 0px #fbfbfb;
}
img.size-full{
width:100%
}
.single-meta{
float: left;
width: 100%;
}
.metas li{
border-bottom:1px dashed #ddd;
line-height: 24px;
}
.single-ads{
float: left;
width: 100%;
text-align: center;
margin:10px 0px;
}
.attachment .single-ads{
margin-bottom: 20px;
}
.details{
width:100%;
float:left;
}
.detail{
font-size: 14px;
font-weight: 600;
padding: 10px;
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
background: #f7f7f7;
}
.detail-ads {
float: left;
width: 337px;
text-align: center;
}
#related .detail{
border:none;
}
.bottom-ads{
float: left;
width: 47%;
}
.thumblock{
display:none;
}
.ratingblock{
width:100%;
float:right;
}
ul.metas{
height: auto;
width: 46%;
float: left;
color: #555;
font-size: 12px;
padding-left: 20px;
}
ul.vd-links{
float: right;
width: 100%;
text-align: center;
margin: 20px 0px;
}
.vd-links li{
margin-left: 10px;
margin-top: 20px;
margin-bottom: 10px;
background: #2ea2cc;
border-color: #0074a2;
-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
font-weight: bold;
color: #fff;
display: inline-block;
text-decoration: none;
font-size: 13px;
line-height: 26px;
height: 28px;
margin: 0;
padding: 0 10px 1px;
cursor: pointer;
border-width: 1px;
border-style: solid;
-webkit-border-radius: 3px;
-webkit-appearance: none;
border-radius: 3px;
white-space: nowrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.vd-links a{
color:#fbfbfb;
}
#related{
font-weight: bold;
font-size: 12px;
width: 100%;
float: left;
margin: 20px 0px;
}
.disclaimer{
padding: 10px;
font-size: 11px;
line-height: 15px;
border-bottom: 1px dashed #333;
}
#footer{
clear: both;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
position: relative;
z-index: 900;
background: #000;
padding: 10px;
color: #555;
}
#footer ul{
margin-left: 0px !important;
float: left;
margin-bottom: 0px;
}
.footer-menu ul{
width:100%;
}
#footer .copyright{
font-size:10px;
text-align: center;
}
.right{
width: 100%;
text-align: center;
}
.right, .right a{
color: #aaa;
font-size: 12px;
font-family: 'Open sans', arial;
}
.edit-link{
float:left;
margin:10px 0px 10px 0px
}
#breadcrumbs{
width: 100%;
float: left;
font-size: 11px;
padding: 10px;
}
.footer-menu li{
display: inline-block;
}
.footer-menu li a{
font-weight:bold;
color:#aaa;
padding-right:10px;
font-size:11px;
}
p img {
max-width: 100%;
border: 1px solid #CCC;
padding: 10px;
border: 1px solid #333;
height: auto;
}
.entry-description{
float: left;
padding: 0px 10px;
display: block;
margin: 10px 0px;}
.single-content p, .entry-description p{
font-size: 13px;
line-height: 22px;
margin-bottom: 10px;
}
.single-content ul, .entry-description ul{
font-size:13px;
}
.single-content ul span.ket .entry-description ul span.ket{
width: 120px;
display: inline-block;
}
.social-share-list li{
float:left;
margin:10px 30px 10px 0px;
display: block;
}
.attachment .columns4{
margin-left:10px;
}

.attachment .columns4 .post img{
height:127px
}
.attachment .width-full{
width:99%;
}
/* COMMENTS
----------------------------------------------- */
.comments-area {
padding: 10px 20px 10px 10px;
}
.comment{
position:relative;
margin-bottom:20px;
}
.comment-list {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	}
.comment-list ul.children {
	margin: 0 0 0 50px;
	list-style: none;
	}
.comment-list li.comment,
.comment-list li.pingback {
	margin: 0;
	padding: 0;
	}
.comment-list li.pingback p {
	margin: 0;
	font-style: italic;
	}
.comment-list li.comment .comment-body {
	padding: 30px 0 20px;
	border-bottom: 1px solid #d6d6d6;
	}
.comment-list li.comment .comment-author .avatar {
	float: left;
	margin: 0 20px 0 0;
	display: block;
	}
.comment-list li.comment .comment-author .fn {
	color: #999;
font-size: 12px;
font-weight:bold;
text-transform: capitalize;
display: block;
	}
	.comment time{
	font-size:11px;
	}
.comment-list li.comment .comment-author .fn a {
	color: #333;
	text-decoration: none;
	}
.comment-list li.comment .comment-author .fn a:hover {
	color: #ff2828;
	}
.comment-list li.comment .comment-metadata {
	margin: 0 0 2px;
	font-size: .875em;
	}
.comment-list li.comment .comment-metadata a {
	color: #999;
	text-decoration: none;
	}
.comment-list li.comment .comment-metadata a:hover {
	color: #333;
	}
.comment-list li.comment .reply {
	font-size: 11px;
background: #E2E2E2;
margin-top: -29px;
padding: 1px 10px;
position: absolute;
border-top: 1px solid #D2D2D2;
border-left: 1px solid #D2D2D2;
right: 1px;
	}
.comment-list li.comment .reply a {
	color: #ff2828;
	font-size: .9em;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	}
.comment-list li.comment .reply a:hover {
	color: #333;
	}
.comment-content {
	clear: both;
	display: block;
border-bottom: 1px solid #D2D2D2;
background: #FCFCFC;
margin: 0px 0 0 40px;
padding: 10px;
	}
.vcard {
display: block !important; 
 margin:0 !important; 
 border: none !important; 
 padding: 0; 
}
.comment-content a {
	word-wrap: break-word;
	}
.bypostauthor {
	}

#reply-title {
font-size: 17px;color: inherit;
	}
#cancel-comment-reply-link {
	margin: 0 0 0 10px;
	color: #333;
	font-size: .9em;
	text-decoration: none;
	}
#commentform {
	margin: 0;
	padding: 0;
	}
#commentform label {
float: left;
padding-right: 20px;
width: 70px;
font-size: 12px;
letter-spacing: 2px;
font-weight: bold;
	}
#commentform textarea {
	height: 100px;
	width: 99%;
	}
#commentform #submit {
line-height: 1;
background-color: #00A8FF;
padding: 10px;
color: #fff;
text-decoration: none;
font-size: 13px;
cursor: pointer;
display: inline-block;
border: none;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
transition: all 0.15s linear;
}
h3.gallery-title{
font-size: 14px;
font-weight: 600;
}
ul.single-gallery{
margin:0px 
}
li.gallery-items{
font-size: 11px;
line-height: 16px;
overflow: hidden;
/* width: 134px; */
min-height: 100px;
float: left;
}
li.gallery-items:last-child{
float:left !important;
}
.single-gallery li.gallery-items{
/* margin: 0px 6px 6px 2px; */
}
.gallery-items img{
border: 1px solid #777;
padding: 2px;
width: 95%;
height: 80px;
}
.gallery-items img:hover{
box-shadow: 0px 0px 3px #111;
}
.zilla-likes {
	
	border: 0 !important;
	display: inline-block;
	margin-bottom: 10px;
	min-height: 14px;
	padding-left: 18px;
	text-decoration: none;
	opacity: .5;
float: right;
margin-right: 10px;
font-size: 11px;
line-height: 14px;
}
.zilla-likes:hover,
.zilla-likes.active {
	
	border: 0 !important;
	margin: 0 10px 10px 0;
	padding-left: 18px !important;
	text-decoration: none;
}

.zilla-blog-widget .zilla-likes,
.tz_recentwork_widget .zilla-likes,
.tz_blog_widget .zilla-likes,
.home div#the_body #slider .excerpt .zilla-likes,
.archive div#the_body #slider .excerpt .zilla-likes { display: none; } /* Hide Zilla Share in custom post widget and sliders in themes */


.single-content .zilla-likes, .single-content .zilla-likes:hover,
.single-content .zilla-likes.active {
float: left;
margin: 13px 20px 10px 10px;
}

@media(max-width: 1015px) {
#sidebar {
width:23%;
}
}
@media(max-width: 640px) {
#sidebar {
width:100%;
}
}
@media(max-width: 1288px) {
.holder .post, .attachment .post {
width: 24.2%;
height: auto;
}

.related .holder .post {
width: 23%;
}
}
@media(max-width: 985px) {
.holder .post, .attachment .post {
width: 31.8%;
height: auto;
}
.entry-content {
width: 100%;
}
.holder-block .post{
width:23.5%;
height:100px;
overflow:hidden;
}
.holder-block .entry-content {
width: 100%;
height: 62px;
}
.attachment .holder-block .post{
width: 23.9% !important;
height: 160px;
overflow: hidden;
}
.attachment .holder-block .entry-content {
width: 100%;
height: 95px;
}
.attachment .entry-content img {
height: 95px;
}
}
@media(max-width: 692px) {
.holder .post:nth-child(3n+0), .attachment .columns4 .post:nth-child(3n+0), .holder-block .post:nth-child(3n+0){
margin-right:0px;
}
}
@media(max-width: 715px) {
.main-menu {
float: left;
}
.holder-block .post{
width:23.3%;
height:98px;
overflow:hidden;
}
.holder-block .entry-content {
width: 100%;
height: 62px;
}
.attachment .holder-block .post{
width:23.3% !important;
height:100px;
overflow:hidden;
}
.attachment .holder-block .entry-content {
width: 100%;
height: 62px;
}
.attachment .entry-content img {
height: auto;
}
h1.entry-title {
height: 23px !important;
font-size: 11px;
overflow: hidden;
}
}
@media(max-width: 540px) {
.holder .post, .attachment .post {
width: 31.4%;
height:110px;
margin-right: 1%;
}
.entry-content {
width: 100%;
height: 65px !important;
}
.entry-content img{
max-width:100%;
height:auto;
}
.holder-block .post{
width:22.9%;
height:81px;
overflow:hidden;
}
.attachment .holder-block .entry-content{
height:69px;
}
.attachment .holder-block .post{
width: 23.2% !important;
height: 107px;
}
.holder-block .entry-content {
width: 100%;
height: 43px;
}
@media(max-width: 540px) {
.holder-block .post{
margin-right:1%;
}
#content h2, #content h1 {
font-size: 11px;
}
.attachment .entry-content img {
height: 60px;
}
}

@media only screen and (max-width: 479px) and (min-width: 340px){
.holder-block .post{
margin-right:1%;
}
}